* {
  margin: 0;
  padding: 0;
  outline:0;
}

a {
  color: black;
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#content {
  text-align: center;
}

.game {  
  width: 400;
  height: 400px; 
  margin: 0 auto;
  position:relative;
}

.game-presentation {
  width: 100%;
  display: block;
  height: 10%; 
}

.game-presentation p {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1em;  
  color: green;
}

.game-footer {
  height: 10%;
  width: 100%;
  display: table;  
  clear: both;
}

.game-footer span {
  width: 33.33%;
  bottom:0;
  height:100%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  padding: 0.25em;
  font-size: 0.66em;
}

.game-info {
  float:left;
  margin:0;
  padding:0;
  border:0;
  height: 80%;
  width:20%;
  font-family: arial,helvetica, sans-serif;
}

.game-info p {
  padding: 5px;
  font-size : 0.75em;
  text-align : center;
}

.game-info, .game-presentation, .game-footer {
  outline: 1px outset green;
}

.game-board {
  position:relative;
  width:80%;
  height: 80%;
  display: block;
  padding:0px;
  margin:0px;	
  font-size: 0;
  border:0px;			
  float:left;
  outline: 1px solid green;
}

.game-board-square {
  width:12.5%;
  height:12.5%;
  display: inline-block;
  padding:0px;
  margin:0px;
  font-size: 0;
  position: relative;
}

.game-board-square img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;    
} 
.square-preto {
  background-color: #555555;
}
.square-branco {
  background-color: #fff;
}

.square, .board-square { 
  width: 100%;
  height: 100%; 
  margin-left: auto; 
  margin-right:auto; 
  outline: 0px solid green;
  display: block; 
  border: 0; 
  outline: 0;  
  padding:0;
  font-family: '15px';
  position: absolute;
}

.game-window-mode .game-info,
.game-window-mode .game-footer {
  display: none;
}

.game-window-mode .game-presentation {
  padding-top: 0.10em;
  padding-bottom: 0.10em;
  font-size: 1em;
  color: green;
}


.game-window-mode .game-board {
  position: relative;
  width: 100%;
  height: 90%;
  display: block;
  padding: 0px;
  margin: 0px;
  font-size: 0;
  border: 0px;
  float: left;
  outline: 1px solid green;
}
button {
  padding:0.2em 0.4em;
  font-size:0.8em;
  border-radius: 40%;
  background-color: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

select {
  font-size: 1em;
  border-style: solid;
}

@media (min-width: 1100px) { 
  .game {  width: 600px; height: 600px;}
  .game-info p { padding: 5px; }		  		  
  body {  font-size:26px; }}

@media (min-width: 1000px) and (max-width: 1099.99px) { 
  .game {  width: 600px; height: 600px;}
  .game-info p { padding: 5px; }		  		  
  body {  font-size:26px; }
}

@media (min-width: 900px) and (max-width: 999.99px) { 
  .game {  width: 600px; height: 600px;}
  .game-info p { padding: 5px; }		  		  
  body {  font-size:26px; }
}

@media (min-width: 800px) and (max-width: 899.99px) { 
  .game {  width: 600px; height: 600px;}
  .game-info p { padding: 5px; }		  		  
  body {  font-size:26px; }
}

@media (min-width: 700px) and (max-width: 799.99px) { 
  .game {  width: 600px; height: 600px;}
  .game-info p { padding: 4px; }		  		  
  body {  font-size:26px; }
}

@media (min-width: 600px) and (max-width: 699.99px) { 
  .game {  width: 600px; height: 600px;}
  .game-info p { padding: 3px; }		  		  
  body {  font-size:22px; }
}

@media (min-width: 500px) and (max-width: 599.99px) { 
  .game {  width: 500px; height: 500px;}
  .game-info p { padding: 3x; }		  		  
  body {  font-size:18px; }
}

@media (min-width: 400px) and (max-width: 499.99px) { 
  .game {  width: 400px; height: 400px;}
  .game-info p { padding: 3px; }		  		  
  body {  font-size:14px; }
}

@media (min-width: 300px) and (max-width: 399.99px) { 
  .game {  width: 300px; height: 300px;}
  .game-info p { padding: 3px; }		  		  
  body {  font-size:14px; }
  select { font-size: 0.7em; }    
}

@media (min-width: 250px) and (max-width: 299.99px) { 
  .game {  width: 250px; height: 250px;}
  .game-info p { padding: 3px; }		  		  
  body {  font-size:10px; }
  select { font-size: 0.7em; }    
}

@media (min-width: 0px) and (max-width: 249.99px) { 
  .game {  width: 200px; height: 200px;}
  .game-info p { padding: 3px; }		  		  
  body {  font-size:10px; }
  select { font-size: 0.7em; }    
}

/*
@media (min-height: 1100px) and (orientation: landscape) {
  .game {
    width: 600px;
    height: 600px;
  }

  .game-info p {
    padding: 5px;
  }

  body {
    font-size: 26px;
  }
}

@media (min-height: 1000px) and (max-height: 1099.99px) and (orientation: landscape) {
  .game {
    width: 600px;
    height: 600px;
  }

  .game-info p {
    padding: 5px;
  }

  body {
    font-size: 26px;
  }
}

@media (min-height: 900px) and (max-height: 999.99px) and (orientation: landscape) {
  .game {
    width: 600px;
    height: 600px;
  }

  .game-info p {
    padding: 5px;
  }

  body {
    font-size: 26px;
  }
}

@media (min-height: 800px) and (max-height: 899.99px) and (orientation: landscape) {
  .game {
    width: 600px;
    height: 600px;
  }

  .game-info p {
    padding: 5px;
  }

  body {
    font-size: 26px;
  }
}

@media (min-height: 700px) and (max-height: 799.99px) and (orientation: landscape) {
  .game {
    width: 600px;
    height: 600px;
  }

  .game-info p {
    padding: 4px;
  }

  body {
    font-size: 26px;
  }
}

@media (min-height: 650px) and (max-height: 699.99px) and (orientation: landscape) {
  .game {
    width: 650px;
    height: 650px;
  }

  .game-info p {
    padding: 3px;
  }

  body {
    font-size: 22px;
  }
}

@media (min-height: 600px) and (max-height: 649.99px) and (orientation: landscape) {
  .game {
    width: 600px;
    height: 600px;
  }

  .game-info p {
    padding: 3px;
  }

  body {
    font-size: 22px;
  }
}

@media (min-height: 550px) and (max-height: 599.99px) and (orientation: landscape) {
  .game {
    width: 550px;
    height: 550px;
  }

  .game-info p {
    padding: 3x;
  }

  body {
    font-size: 18px;
  }
}

@media (min-height: 500px) and (max-height: 549.99px) and (orientation: landscape) {
  .game {
    width: 500px;
    height: 500px;
  }

  .game-info p {
    padding: 3x;
  }

  body {
    font-size: 18px;
  }
}

@media (min-height: 450px) and (max-height: 499.99px) and (orientation: landscape) {
  .game {
    width: 450px;
    height: 450px;
  }

  .game-info p {
    padding: 3px;
  }

  body {
    font-size: 14px;
  }
}

@media (min-height: 400px) and (max-height: 449.99px) and (orientation: landscape) {
  .game {
    width: 400px;
    height: 400px;
  }

  .game-info p {
    padding: 3px;
  }

  body {
    font-size: 14px;
  }
}

@media (min-height: 350px) and (max-height: 399.99px) and (orientation: landscape) {
  .game {
    width: 350px;
    height: 350px;
  }

  .game-info p {
    padding: 3px;
  }

  body {
    font-size: 14px;
  }

  select {
    font-size: 0.7em;
  }
}

@media (min-height: 300px) and (max-height: 349.99px) and (orientation: landscape) {
  .game {
    width: 300px;
    height: 300px;
  }

  .game-info p {
    padding: 3px;
  }

  body {
    font-size: 14px;
  }

  select {
    font-size: 0.7em;
  }
}


@media (min-height: 250px) and (max-height: 299.99px) and (orientation: landscape) {
  .game {
    width: 250px;
    height: 250px;
  }

  .game-info p {
    padding: 3px;
  }

  body {
    font-size: 10px;
  }

  select {
    font-size: 0.7em;
  }
}

@media (min-height: 0px) and (max-height: 249.99px) and (orientation: landscape) {
  .game {
    width: 200px;
    height: 200px;
  }

  .game-info p {
    padding: 3px;
  }

  body {
    font-size: 10px;
  }

  select {
    font-size: 0.7em;
  }
}
  */


@media (min-height: 0px) and (max-height: 1500px) and (orientation: landscape) {
  .game {
    height: 100vh;
    aspect-ratio: 1 / 1;
  }

  .game-info p {
    padding: 3px;
  }

  body {
    font-size: 14px;
  }

  select {
    font-size: 0.7em;
  }
}